.idea/
dev/
app/config/database.php
app/config/payment.php
app/config/app.php
app/config/database1.php
app/config/env.php
app/config/redis.php
storage/*
CronJob/error_log
error_log
office/action/error_log
office/error_log
office/files/*
camera/uploads/*
liza_logs.txt
.htaccess
office/.htaccess
office/dist/css/app.css
.vscode
.vscode/launch.json
.DS_store
node_modules
package-lock.json
office/ajax/test.php
office/ajaxTest.php
/nbproject/private/
*.properties
nbproject/project.xml
/oauth
adminer.php
oauth/
toad.php
.ftpquota
/app/config/client_credentials.json
moshe_logs.txt
msg_logs.txt
.vscode
office/PDF/signed_pdfs/*
office/PDF/pdfs/*
office/PDF/mpdf/tmp/*
office/PDF/sig/boostapp_private_key.pem
office/PDF/sig/certificate_boostapp.pem
office/PDF/sig/client-identity-20-12-22.p12
office/PDF/sig/csr_boostapp.csr
office/PDF/sig/mycert.pem

