<div class="bsapp--icon-box d-flex align-items-center justify-content-center flex-column text-center">
	<i class="{{#if classFA}}{{classFA}}{{else}}fa-light fa-star{{/if}}"></i>
	{{#if title}}<h4>{{title}}</h4>{{/if}}
	{{#if text}}<p class="s-18">{{text}}</p>{{/if}}
</div>