<div ng-app="app" ng-controller="calc as vm" ng-cloak>
    <h3 class="text-center">משקל</h3>

    <form name="bodyFatCalc">
        <!-- client -->
        <div class="form-group clientId">
            <label>מתאמן</label>
            <select ng-model="vm.chossenClient" class="form-control" ng-change="vm.changeClient(vm.chossenClient)">
                <option value="">בחר מתאמן</option>
                <option ng-repeat="x in vm.clients" value="{{x}}">{{x.fullName}}</option>
            </select>
        </div>
        <div ng-show="vm.fields.clientId">
            <!-- general data -->
            <div class="form-group">
                <label>כללי</label>
                <div class="form-row">
                    <!-- date -->
                    <div class="col-2">
                        <label>תאריך</label>
                        <input type="date" name="date" id="date" ng-model="vm.fields.date" class="form-control">
                    </div>
                    <!-- weight -->
                    <div class="col-1">
                        <label>משקל (ק"ג)</label>
                        <input type="number" name="weight" id="weight" ng-model="vm.fields.weight" class="form-control" min="0">
                    </div>
                    <!-- age -->
                    <div class="col-1">
                        <label>גיל</label>
                        <input type="number" name="age" id="age" ng-model="vm.fields.age" class="form-control"  min="0">
                    </div>
                    <!-- gender -->
                    <div class="col-2" id="gender">
                        <label>מין</label>
                        <div>
                            <input type="radio" name="gender" value="male" id="male" ng-model="vm.fields.gender" hidden>
                            <label for="male" class="btn btn-default">
                                <i class="fas fa-mars"></i> זכר</label>
                            <input type="radio" name="gender" id="female" value="female" ng-model="vm.fields.gender" hidden>
                            <label for="female" class="btn btn-default">
                                <i class="fas fa-venus"></i> נקבה</label>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-success" ng-class="{'disabled': vm.$$submit}" ng-click="vm.submit()">
                <span ng-show="!vm.$$submit">שמור</span>
                <span ng-show="vm.$$submit">
                    <i class="fa fa-spinner fa-spin"></i> שומר נתונים</span>
            </a>
            <div ng-show="vm.$$success" class="bg-dark text-success card mt-2">{{vm.$$success}}</div>
            <div class="text-right" ng-show="vm.$$error.length">
                <h4 class="card-title">מצאנו שגיאות...</h4>
                <div class="card bg-faded">
                    <ul class="list-group list-group-flush pr-0">
                        <li class="list-group-item pr-2 text-danger" ng-repeat="err in vm.$$error">{{err}}</li>
                    </ul>
                </div>

            </div>
        </div>

    </form>

</div>
<style>
    #gender input:checked+label {
        background-color: #48AD42;
        color: #fff
    }

    #gender input+label {
        background: rgb(207, 207, 207)
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
<script>
    angular.module('app', []).controller('calc', ['$http', '$scope', '$window', function ($http, $scope, $window) {

        var vm = this;
        // initilize fields model
        vm.fields = {
            date: new Date()
        }

        // load client and inject into clients
        $http.get('../rest/?type=medicalindicators&method=clients&clientId='+$window.restClient).then(function (res) {
            vm.clients = res.data.items;
            if($window.restClient){
                var chosenClient = vm.clients.filter(function(x){return x.clientId == $window.restClient.toString()});
                vm.changeClient( JSON.stringify(chosenClient[0] || {clientId: $window.restClient}) );
            }
            setTimeout(function () {
                if(jQuery.fn.select2) jQuery('select[ng-model="vm.chossenClient"]').select2();
            }, 0)
        }, function () { });

        vm.changeClient = function (client) {
            try { client = JSON.parse(client); } catch (e) { }
            // ensure clientId or reset fields
            if (!client || !client.clientId) {
                vm.fields.clientId = undefined;
                vm.fields.gender = undefined;
                vm.fields.age = undefined;
                return false;
            }

            vm.fields.clientId = parseInt(client.clientId); // int type
            vm.fields.gender = client.gender; // string type
            vm.fields.age = parseFloat(client.age); // float type
        }

        // validate required fields
        vm.validate = function () {
            vm.$$error = [];
            if (!vm.fields.clientId) vm.$$error.push('אנא בחר מתאמן');

            if (!vm.fields.gender) vm.$$error.push('אנא בחר מגדר מתאמן');

            var age = parseFloat(vm.fields.age || 0);
            if (!age) vm.$$error.push('אנא הכנס גיל');

            var weight = parseFloat(vm.fields.weight || 0);
            if (!weight) vm.$$error.push('השדה משקל הוא חובה');

            return !vm.$$error.length;
        }

        // submit form
        vm.submit = function () {
            vm.$$success = undefined;
            // submit once only and validate before continuing
            if (vm.$$submit || !vm.validate()) return false;
            
            // copy fields and ng cleanup
            var fields = angular.copy(vm.fields);
            fields.date = vm.fields.date.toISOString().split('T')[0]; // make life easier on server
            vm.$$submit = true;
            $http.post('../rest/?type=medicalindicators&method=weight', fields).then(function (data) {
                delete vm.fields.weight;
                vm.$$success = 'הנתון נקלט בהצלחה';
                vm.$$submit = false;
            }, function (err) {
                console.log(err)
                vm.$$error = vm.$$error || [];
                var message = err.data && err.data.message ? err.data.message : err.data || err.error
                vm.$$error.push(message);
                vm.$$submit = false;
            })

            
            // test GUI
            // setTimeout(function () {
            //     vm.$$submit = false;
            //     console.log(vm.$$submit);
            //     $scope.$apply();
            // }, 2000)
        }

    }]);
</script>